body {
  font-size: 1rem;
  color: white;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(rgba(100, 101, 158,.8), rgba(100, 101, 158,.8)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* fallback color */
  background-color: #3d3e89;
}

.main {
  margin: 40px auto 0px auto;
}

@media (max-width: 300px) {
  .main {
    min-width: 300px;
  }
}

@media (min-width: 300px) {
  .main {
    max-width: 600px;
  }
}

@media (min-width: 770px) {
  .main {
    max-width: 700px;
  }
}

#survey-form {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(38, 36, 68, .8);
  margin-top: 40px;
  padding: 40px 15px 40px 15px;
}

@media (min-width: 480px) {
  #survey-form {
    padding: 40px;
  }
}

#title, #description {
  padding: 5px;
  line-height: 1.3em;
  text-align: center;
  font-weight: 400;
  margin: 0px;
}

#description {
  font-weight: 200;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  border: 0px;
  color: #495057;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  border-radius: 5px;
  padding: 5px 15px;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin: 0px 10px 0px 0px;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: black;
}

button {
  font-size: 0.9em;
  color: inherit;
  background-color: #37AF65;
  padding: 12px;
}

.small {
  font-size: 0.8em;
}